h1 {
    text-align: center;
    color: #ffffff;
    font-family:"Helvetica Neue", "HelveticaNeue", Helvetica, Arial, system-ui, sans-serif;
}

ul {
    gap: 10px;
}

.bannerimg {
    display: block;
    justify-content: left;
    width: 5%;
    height: 5%;
}


.coolbeans {
    width: 400px; 
    height: 400px; 
    border-radius: 50%; 
    object-fit: cover; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}

h2 {
    color: rgba(121, 138, 108);
    text-align: center;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, system-ui, sans-serif;
}

body {
    background-color: rgba(48, 46, 47);
}

a {
    text-decoration: none;
    color: rgba(121, 138, 108);
}

.default-glow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cards-section h2 {
        padding: 50px;
        color: white;
        text-align: center;
        align-items: center;
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        padding: 50px;
        gap: 50px;
        position: relative;
        z-index: 1;
    }

    @media (max-width: 768px) {
        .cards {
            flex-direction:row;
            align-items: center;
            padding: 20px;
            gap: 30px;
            position: relative;
            z-index: 1;
        }

        .card {
            width: 90%;
            max-width: 400px;
            position: relative;
            z-index: 1;
        }
    }

.footer {
   position: fixed;
   left: 0;
   bottom: -300px;
   width: 100%;
   background-color: rgba(48, 46, 47);
   color: white;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.footer p {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, system-ui, sans-serif;
}